:root {
  --body-bg-color: #131518;
  --main-bg-color: hsl(213, 19%, 18%);
  --h-color: hsl(0, 0%, 100%);
  --font-color: hsl(217, 12%, 63%);
  --number-bg-color: hsl(211, 19%, 23%);
  --text-color: hsl(216, 12%, 54%);
  --numbers-clicked-bg-color: hsl(217, 12%, 63%);
  --orange-color: hsl(25, 97%, 53%)
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--body-bg-color);
  font-size: 15px;
  font-family: 'Overpass', sans-serif;
  text-align: center;
}

.content {
  background-color: var(--main-bg-color);
  width: 412px;
  height: 416px;
  margin: 13% auto;
  border-radius: 25px;
}

.first,
.second {
  padding: 25px 25px;
}

.first {
  text-align: left;
}

.heading {
  padding: 40px 0 10px 0;
}

.star {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: var(--number-bg-color);
  border-radius: 50%;
}

.text {
  padding: 10px 0 25px 0;
  font-size: 13px;
  line-height: 20px;
}

.numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--font-color);
}

.num {
  display: flex;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  background-color: var(--number-bg-color);
  color: var(--text-color);
  border-radius: 50%;
  text-align: center;
}

.num:hover {
  background-color: grey;
  color: #ffffff;
}

h1 {
  color: var(--h-color);
}

p {
  color: var(--text-color);
}

.text {
  padding: 10px 0 25px 0;
  font-size: 18px;
  line-height: 28px;

}

button {
  background-color: var(--orange-color);
  color: #ffffff;
  border: none;
  border-radius: 25px;
  padding: 5px 10px;
}

button:hover,
:focus {
  background-color: white;
  color: var(--orange-color);
}

.submit {
  min-width: 360px;
  margin: 40px 0;
  padding: 15px 0;
  letter-spacing: 2px;
}

.first {
  display: block;
}

.second {
  display: none;
}

.active {
  display: block;
}

.disable {
  display: none;
}

.image {
  text-align: center;
  margin: 10px 0;
}

.selected {
  display: flex;
  justify-content: center;
  align-items: center;
}

.you-selected {
  max-width: 200px;
  background-color: var(--number-bg-color);
  color: var(--orange-color);
  border-radius: 25px;
  padding: 10px 15px;
  margin: 20px 0;
}

h2 {
  color: white;
  padding: 15px 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 940px) {
  .content {
    max-width: 327px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 33% auto;
  }

  .first {
    padding: 25px 25px;
  }

  .heading {
    padding: 10px 0;
  }

  .text {
    padding: 10px 0 25px 0;
    font-size: 13px;
    line-height: 20px;
  }

  .submit {
    min-width: 275px;
    margin: 30px 0;
    padding: 15px 0;
    letter-spacing: 2px;

  }
}